.title {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  color: var(--mantine-color-blue-7);
}

.sectionTitle {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  padding-bottom: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-sm);
  color: var(--mantine-color-dark-2);
}

/* Para el tema oscuro */
:global(body[data-mantine-color-scheme="dark"]) .title {
  color: var(--mantine-color-blue-4);
}

:global(body[data-mantine-color-scheme="dark"]) .sectionTitle {
  border-bottom-color: var(--mantine-color-dark-4);
  color: var(--mantine-color-dark-0);
}
