/* src/app/(pwa_app)/set-country/set-country-page.module.css (o en globals.scss) */
.setCountryContainer {
  /* Si decides usar una clase en el Box principal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
  min-height: calc(100vh - 60px); /* Asumiendo header de 60px del MainLayout */
}

/* Estilos para Paper ya vienen de Mantine, puedes sobreescribir si es necesario */
