/* src/app/payment/payment-status-page.module.css */
.statusCard {
  width: 100%;
  max-width: 550px; /* Un buen ancho para mensajes de estado */
  text-align: center;
}

.title {
  font-size: 1.8rem; /* Título más grande */
  font-weight: 600;
  margin-bottom: var(--mantine-spacing-sm);
}

/* Estilos para tema oscuro si tu layout padre los aplica */
:global(body.dark-theme) .statusCard {
  background-color: var(--mantine-color-dark-6);
}
:global(body.dark-theme) .title {
  color: var(--mantine-color-dark-0);
}
