/* src/app/(pwa_app)/credits/credits-page.module.css */
.creditsPageContainer {
  /* Estilos para el contenedor principal de la página si son necesarios */
}

.pageTitle {
  display: flex;
  align-items: center;
  color: var(--mantine-color-blue-7); /* O tu color primario del tema */
}
:global(body.dark-theme) .pageTitle {
  color: var(--mantine-color-blue-4);
}

.packageCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Empuja el botón hacia abajo */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%; /* Para que todas las tarjetas en SimpleGrid tengan la misma altura */
}

.packageCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md);
}

.packageName {
  font-weight: 600;
  color: var(--mantine-color-gray-8);
  line-height: 1.3;
}
:global(body.dark-theme) .packageName {
  color: var(--mantine-color-dark-0);
}

.packageDescription {
  flex-grow: 1; /* Permite que la descripción ocupe espacio y empuje precio/botón */
  min-height: 40px; /* Para asegurar algo de espacio incluso si no hay descripción */
  line-height: 1.5;
}

.packagePrice {
  color: var(--mantine-color-green-7); /* Un color destacado para el precio */
  display: block;
}
:global(body.dark-theme) .packagePrice {
  color: var(--mantine-color-green-5);
}
